* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 36
}

body {
  overflow: hidden;
  font-family: 'Inter', system-ui, 'Segoe UI';
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.container-custom {
  display: flex;
  height: 100vh;
}

.sidebar-custom h2 {
  margin: 15px;
}

.sidebar-custom hr {
  margin: 20px 10px;
}

.sidebar-custom {
  width: 285px;
  display: flex;
  flex-direction: column;
  background-color: #2852a7;
  color: #ffffff;
  height: 100vh;
}

.nav-custom {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item-custom a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding: 0.5rem 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  justify-content: space-between;
}

.nav-item-custom button {
  display: flex;
  align-items: center;
  color: white;
  border: none;
  background-color: transparent;
  font-weight: 600;
  padding: 0.5rem 20px;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  justify-content: space-between;
}

.nav-item-custom button:hover {
  background-color: #F4F4F4;
  color: black;
}

.nav-link-custom.active-custom{
    background-color: #F4F4F4;
    color: black;
}

.nav-link-custom:hover {
    background-color: #F4F4F4;
    color: black;
}

.bottom-custom {
  margin-top: auto;
  margin-bottom: 15px;
}

.mainPlaceholder {
  justify-content: center;
  align-items: center;
  display: flex;
  color: #5A5A5A;
  text-align: center;
  height: 95vh;
}

.subject-title {
  padding: 10px;
  text-transform: uppercase;
  font-size: 18;
  letter-spacing: 3px;
  background-color: #242424;
  color: white;
  height: 100%;
  margin: 0;
}

.cards-container-custom {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: start;
  padding: 10px;
  margin-left: 10px;
  overflow-y: auto;
}

.card-figure-custom img{
  width: 100%;
  height: 200px;
  object-fit: fill;
  background-color: white;
}

.card-figure-custom p{
  text-transform: capitalize;
  margin: 10px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card-custom {
  background-color: #d9d9d9;
  padding: 10px;
  width: calc(33.333% - 20px); /* 3 por fila, con espacio */
  min-width: 200px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.card-figure-custom {
  padding: 0;
}

.card-figure-custom .options {
  margin-left: 10px;
  margin-bottom: 10px;
}

.card-custom:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.card-custom .subtitle {
  display: block;
  color: #5A5A5A;
  font-size: 12;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 5;
}

.card-custom .options {
  display: flex;
  flex-direction: row;
}

.card-custom .options .material-symbols-outlined {
  font-size: 25;
}

.card-custom .options a {
  text-decoration: none;
  color: #484848;
  padding: 5px;
}

.card-custom .options a:hover {
  color: #ffffff;
  background-color: #2852a7;
}

.card-custom .options .delete-card:hover{
  background-color: brown;
}

.main-content-custom {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #F4F4F4;
  max-width: 100%;
  transition: opacity 0.3s ease;
}

.main-content-custom h1 {
  font-weight: 600;
  margin-left: 20px;
  letter-spacing: 1px;
}

.floatingBtn {
  bottom: 15px;
  z-index: 10;
  padding: 5px;
  border-radius: 12px;
}

.btnNewFigure {
  right: 20px;
}

.btnTemaAdd{
  right: 20px;
}

.btnErratas {
  right: 90px;
}

.btnCompileAll {
  right: 160px;
}

.floatingBtn .material-symbols-outlined {
  font-size: 42;
}

.subject-navbar {
  width: 100%;
  height: 45px;
  background-color: #5A5A5A;
}

.subject-nav-button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 16;
  letter-spacing: 2px;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  color: #c4c4c4;
}

.subject-nav-button:hover {
  background-color: #3b3b3b;
}

.subject-navbar .active {
  background-color: #3b3b3b;  
}

.config-line {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.optLoadingDiv {
  width: 25px;
  height: 25px;
  align-items: center;
  display: flex;
  justify-content: center;
}



::-webkit-scrollbar {
  width: 8px;  
  height: 6px; 
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,0.4);
}
